@import "../../global.scss";
.works {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include mobile {
    display: none;
  }

  .arrow {
    height: 50px;
    cursor: pointer;

    &.left {
      position: absolute;
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      position: absolute;
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .left-container {
            height: 70%;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h2 {
              font-size: 20px;
            }

            p {
              font-size: 13px;
            }

            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }

            .img-container {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 400px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
